
/* home page */
#website{
    color:rgb(131, 25, 211);
}
h2{
    text-align: center;
    padding-top:0.8em;
}
.images-container{
    width:80vw;
    border-radius: 1em;
    box-shadow: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom:1em;

}
.images{
    display:flex;
    justify-content:space-evenly;
}
.buttons{
    display:flex;
    justify-content:center;
}
.btn{
    background-color:rgb(131, 25, 211);
    border:none;
    border-radius:0.5em;
    padding:0.5em;
    margin-right:1em;
}
.links{
    color:white;
    text-decoration: none;
}
.mode{
    position:fixed;
    bottom:10px;
    right:20px;
}
.moon-icon{
    font-size:1.5em;
}
.moon-icon:hover{
    cursor:pointer;
}
.dark-mode{
    background-color: #0e172a;
    color: white;
}

/* page One */
.heading{
    text-align: center;
}
.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input-field{
    padding:0.5em;
    width: 100%;
}
#submit-btn{
    background: rgb(62, 62, 173);
    color: white;
    border:none;
    border-radius:0.3em;
    padding:0.5em;
    margin-right:10px;

}
#reset-btn{
    background: rgb(62, 62, 173);
    color: white;
    border:none;
    border-radius:0.3em;
    padding:0.5em;

}
#btn-page1{
    margin-top:2em;
}

/* page 2 */
.para{
    text-align: center;
    font-size:1.3em;
}