:root{
    --bg-color: #fff;
    --text-color:#000 ;
    --span-text-color: rgb(131, 25, 211);
    --btn-background: rgb(131, 25, 211);
    --form-info-background: rgba(120,120,130, 0.5);
}
:root[dark-mode-theme]{
    --bg-color:#0e172a ;
    --text-color:rgb(248, 245, 245) ;
    --span-text-color: rgb(160, 38, 164);
    --btn-background:rgb(158, 31, 162);
    --form-info-background: rgba(73, 73, 76, 0.5);
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.1s ease-in-out;
}
/* home page */
#website{
    color:var(--span-text-color);
}
h2{
    text-align: center;
    padding-top:0.8em;
}
.images-container{
    width:80vw;
    border-radius: 1em;
    box-shadow: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom:1em;
    background-color: var(--form-info-background);

}
.images{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.eachImg{
    margin-bottom:1em;
}
.buttons{
    display:flex;
    justify-content:center;
}
.btn{
    background-color:var(--btn-background);
    border:none;
    border-radius:0.5em;
    padding:0.5em;
    margin-right:1em;
}
.links{
    color:white;
    text-decoration: none;
}
.mode{
    position:fixed;
    bottom:10px;
    right:20px;
}
.moon-icon{
    font-size:1.5em;
}
.moon-icon:hover{
    cursor:pointer;
}

/* page One */
.heading{
    text-align: center;
}
.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input-field{
    padding:0.5em;
    width: 100%;
}
#submit-btn{
    background: rgb(62, 62, 173);
    color: white;
    border:none;
    border-radius:0.3em;
    padding:0.5em;
    margin-right:10px;

}
#reset-btn{
    background: rgb(62, 62, 173);
    color: white;
    border:none;
    border-radius:0.3em;
    padding:0.5em;

}
#btn-page1{
    margin-top:2em;
}

/* page 2 */
.form-info-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.form-values{
    background-color: rgba(120,120,130, 0.5);
    margin-bottom: 0.8em;
    padding: 0em 2em 0em 2em;
    border-radius:1em;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
.para{
    font-size:1.3em;
}
/* For dogs.html page */
#heading2{
    color: var(--span-text-color);
}
.sub-container{
    display: flex;
    justify-content: center;
}
#searchBox{
    padding:0.5em;
    margin-right:0.4em;
}
.showImgBtn{
    color:white;
}
.dogs-Images{
    display:flex;
    justify-content: center;
    margin: 1em 0em 1em 0em;
}
.dImg{
    width:35%;
    border-radius:1em;
}